*.DS_store*
*_pycache_*
.devcontainer/devcontainer.json
**README_files/
*.html
mywork_khs/
dataprojects/*
**OLD*
**class-*

# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/bundle/
Gemfile.lock